# API Configuration
NUXT_TENANT_API_URL=http://localhost:8080

# Logto M2M Authentication
NUXT_LOGTO_URL=http://localhost:3001
NUXT_LOGTO_CLIENT_ID=
NUXT_LOGTO_CLIENT_SECRET=
NUXT_API_RESOURCE_INDICATOR=https://api.sokolshop.com

# Cookie Settings
NUXT_COOKIE_SECURE=false
NUXT_BASE_DOMAIN=.127.0.0.1.nip.io
